{{template "base.html" .}}
{{define "content"}}
<main>
  <div class="container">
    <h1 class="page-heading">Impressum</h1>
    <div class="impressum-block">
      <h2>Angaben gemäß § 5 TMG</h2>
      <p>Stefan Negele</p>
      <p>Elisabeth-Selbert-Str. 11</p>
      <p>64289 Darmstadt</p>

      <h2>Kontakt</h2>
      <p>E-Mail: <a href="mailto:mail@stefannegele.de">mail@stefannegele.de</a></p>

      <h2>Haftungsausschluss</h2>
      <p>Die Inhalte dieser Website wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte kann keine Gewähr übernommen werden.</p>

      <h2>Externe Links</h2>
      <p>Diese Website enthält Links zu externen Websites Dritter, auf deren Inhalte kein Einfluss besteht. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich.</p>
    </div>
  </div>
</main>
{{end}}
